<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="pc_monitor_1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <pc_monitor_1.Properties.Settings>
            <setting name="sett_ip_0" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_ip_1" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_ip_2" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_ip_3" serializeAs="String">
                <value />
            </setting>
            <setting name="sett_ip_4" serializeAs="String">
                <value />
            </setting>
            <setting name="string_collect_test" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>&lt;?xml version="1.0" encoding="utf-16"?&gt;</string>
                        <string>&lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" /&gt;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="last_connect_type" serializeAs="String">
                <value />
            </setting>
            <setting name="last_serial_portname" serializeAs="String">
                <value />
            </setting>
        </pc_monitor_1.Properties.Settings>
    </userSettings>
</configuration>